@font-face {
    font-family: 'freightround_probold';
    src: url('fonts/freightroundprobold-webfont.woff2') format('woff2'),
         url('fonts/freightroundprobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'freightround_probook';
    src: url('fonts/freightroundprobook-webfont.woff2') format('woff2'),
         url('fonts/freightroundprobook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'freightround_prolight';
    src: url('fonts/freightroundprolight-webfont.woff2') format('woff2'),
         url('fonts/freightroundprolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Serif';
    src: url('fonts/RobotoSerif[grad\,opsz\,wdth\,wgth].woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 600px;
    margin: auto;
    font-family: 'Roboto Serif', serif;
    font-variation-settings: "wdth" 100, "opsz" 20, "wght" 400, "GRAD" 0;
}

h1 {
    font-family: freightround_probold, Arial, sans-serif;
}

footer p {
    font-weight: 700;
}

.icons {
    font-size: 32px;
    color: pink;
}
